@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');
.form-singup{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form-singup input{
    width: 25.5rem;
    height: 3rem;
    background: #eef0f4;
    border-radius: 1rem;
    margin: 1.2rem 1.9rem 0.5rem;
    outline: none;
    border: none;
    padding: 0 0 0 2rem;
    line-height: normal;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    color: black;
}
.form-singup :focus {
    border: 3px solid #f4e035;
    background-color: white;
  }
.main-left .btn1{
    background: black;
    border-radius: 12px;
    color: #fff;
    padding: 1rem 2rem;
    transition: all .4s ease-in-out;
    border: 1px solid black;
    font-style: normal;
    font-weight: 700;
    font-size: 1.1rem;
    line-height: 1.4rem;
    letter-spacing: .03em;
    width: 25.5rem;
    margin-top: 2rem;
}